<!DOCTYPE html>
<html>
{{>support/head}}
<body>
{{>support/nav-bar}}
<div class="columns has-background-white-bis">
    <div class="column is-one-fifth-desktop m-2 has-background-grey-lighter">
        <aside class="menu">
            <p class="menu-label">Feeds <span onclick="openAddFeedModal()" class="icon"><i
                    class="fas fa-plus-circle"></i></span></p>
            <ul class="menu-list">
                {{#feeds}}
                    <li class="is-size-7">
                        <a href="/reader/{{feedId}}"
                            {{#isSelected}}class="is-active" {{/isSelected}}
                        >{{name}}</a>
                    </li>
                {{/feeds}}
            </ul>
        </aside>
    </div>
    <div class="column has-background-white-ter">
        {{#feedItems}}
            <section class="section">
                <a href="{{url}}"><h1 class="title">{{title}}</h1></a>
                <div class="content">{{&html}}</div>
            </section>
        {{/feedItems}}
        {{^feedItems}}
            <section class="section">
                <h1 class="title">No entries!</h1>
            </section>
        {{/feedItems}}
    </div>
</div>

<div id="addFeedModal" class="modal">
    <div class="modal-background" onclick="closeAddFeedModal()"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Add a new feed</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <label class="label">URL</label>
                <div class="control">
                    <input id="feedURL" class="input" type="text" placeholder="https://example.com/rss">
                </div>
            </div>

        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" onclick="addFeed()">Add feed</button>
            <button class="button" onclick="closeAddFeedModal()">Cancel</button>
        </footer>
    </div>
    <button class="modal-close is-large" aria-label="close" onclick="closeAddFeedModal()"></button>
</div>
<script>
    function openAddFeedModal() {
        document.getElementById("addFeedModal").classList.add("is-active")
        document.getElementsByTagName("body")[0].classList.add("is-clipped")
    }

    function closeAddFeedModal() {
        document.getElementById("feedURL").value = ""
        document.getElementById("addFeedModal").classList.remove("is-active")
        document.getElementsByTagName("body")[0].classList.remove("is-clipped")
    }

    async function addFeed() {
        let feedUrl = document.getElementById("feedURL").value
        let addFeedResult = await fetch("/feed", {
            method: "PUT",
            body: JSON.stringify({
                feedUrl: feedUrl
            }),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        })
        if (addFeedResult.ok) {
            this.closeAddFeedModal()
        } else {
            console.error("Could not add feed.")
        }
    }
</script>
{{>support/footer}}
{{>support/scripts}}
</body>
</html>