<!DOCTYPE html>
<html>
{{>support/head}}
<body>
{{>support/nav-bar}}
<section class="section">
    <h1 class="title">FeedsNG</h1>
    <h2 class="subtitle">
        A simple, clean RSS aggregator.
    </h2>
</section>
{{>support/footer}}
{{>support/scripts}}
</body>
</html>