<!DOCTYPE html>
<html lang="en">
{{>support/head}}
<body>
{{>support/nav-bar}}
<div class="columns">
    {{>sites/reader/sidebar}}
    {{>sites/reader/content}}
</div>
{{>sites/reader/addFeedModal}}
{{>support/footer}}
{{>support/scripts}}
</body>
</html>