<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>FeedsNG</strong> by <a href="https://github.com/Guruth">Guruth</a>.
        </p>
    </div>
</footer>