<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">FeedsNG</a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                {{#username}}
                    <div class="buttons">
                        <a>{{username}}</a>
                        <a>Log out</a>
                    </div>
                {{/username}}
                {{^username}}
                    <div class="buttons">
                        <a class="button is-primary">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light" href="/login">
                            Log in
                        </a>
                    </div>
                {{/username}}
            </div>
        </div>
    </div>
</nav>
