<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">FeedsNG</a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" onclick="toggleNavbarActive()">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbar-menu" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/reader">Reader</a>
        </div>
        <div class="navbar-end">
            {{#username}}
                <a class="navbar-item" href="/account">{{username}}</a>
                <div class="navbar-item">
                    <button class="button is-warning is-outlined" onclick="logout()">Log out</button>
                </div>
            {{/username}}
            {{^username}}
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light" href="/register">
                            Register
                        </a>
                        <a class="button is-light" href="/login">
                            Log in
                        </a>
                    </div>
                </div>
            {{/username}}
        </div>
    </div>
</nav>
<script>
    function toggleNavbarActive() {
        document.getElementById("navbar-menu").classList.toggle("is-active")
    }
</script>