<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">FeedsNG</a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
        </div>
        <div class="navbar-end">
            <!--            <div class="navbar-item">-->
                <!--                {{#isLoggedIn}}-->
            <!--                    <div class="buttons">-->
            <!--                        <a>Account</a>-->
            <!--                        <a>Log out</a>-->
            <!--                    </div>-->
                <!--                {{/isLoggedIn}}-->
                <!--                {{^isLoggedIn}}-->
            <!--                    <div class="buttons">-->
            <!--                        <a class="button is-primary">-->
            <!--                            <strong>Sign up</strong>-->
            <!--                        </a>-->
            <!--                        <a class="button is-light">-->
            <!--                            Log in-->
            <!--                        </a>-->
            <!--                    </div>-->
                <!--                {{/isLoggedIn}}-->
            <!--            </div>-->
        </div>
    </div>
</nav>
